.card-07 {
    background: var(--bg-color);
    border-radius: 10px;
    display: block;
    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

    }
    &__icon {
        padding: 15px;
        border-radius: 8px;
        background: var(--top-act-bg-color);
        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            filter: var(--icon-color);
        }
    }
    &__info {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 6px;
    }
    &__value {
        font-size: 14px;
    }
}
